.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000000;
	#loading-bar-spinner.spinner {
		z-index: 19 !important;
		animation: loading-bar-spinner 700ms linear infinite;
	}

	#loading-bar-spinner.spinner .spinner_icon {
		width: 40px;
		height: 40px;
		border: solid 4px transparent;
		border-top-color: #00c8b1 !important;
		border-left-color: #00c8b1 !important;
		border-radius: 50%;

		&.small {
			width: 20px;
			height: 20px;
		}
	}

	@keyframes loading-bar-spinner {
		0% {
			transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}
