@mixin save_btn {
	width: 80px;
	text-align: center;
	padding: 10px 0;
	margin: 10px auto 0 auto;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 600;
	color: lighten(#000, 15%);
	transition: 0.3s all ease;
	outline: none;
	cursor: pointer;
	&:hover {
		background-color: darken(#fff, 20%);
	}
	&:active {
		background-color: darken(#fff, 40%);
	}
}

@mixin buttonMore {
	.btn_more {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -40px;
		right: 0;
		width: 70px;
		height: 25px;
		border-radius: 10px;
		border: 1px solid #151414;
		background-color: rgba(255, 255, 255, 0.2);
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
		transition: 0.2s all ease;
		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
		}
		&.position {
			top: 25px;
			right: 15px;
		}
	}
}
