@use '/src/shared/style/global' as mx;

.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 20px;
	row-gap: 40px;
	padding: 40px 20px;
	overflow-y: auto;
	.item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 200px;
		height: 200px;
		border-radius: 10px;
		cursor: pointer;
		@include mx.hoverEffect;

		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-basis: 190px;
			width: 100%;
			img,
			svg {
				transform: scale(5.5);
			}
		}
		.name {
			flex-basis: 15px;
			font-size: 17px;
			color: #fff;
		}
	}
}
