@use '/src/shared/style/global' as mx;

.container {
	display: flex;
	gap: 40px;
	padding: 20px;
	width: 100%;
	overflow-y: auto;
	&_high {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		column-gap: 15px;
		row-gap: 40px;
		width: 95%;
		height: 100%;
		max-height: 83vh;
		overflow-y: auto;
		overflow-x: hidden;
		border-radius: 5px;
		padding: 10px;
	}

	.album {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		padding-bottom: 10px;
		@include mx.hoverEffect;

		.image {
			width: 300px;
			height: 300px;
			img {
				width: 300px;
				height: 300px;
				border-radius: 5px;
			}
		}
		.name {
			display: block;
			max-width: 90%;
			text-align: center;
			color: #fff;
			font-size: 20px;
		}
	}
}
