@use '/src/shared/style/buttons.scss' as mx;

.content {
	width: 98%;
	padding: 15px 30px 0 0;

	.save_button {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 15px 0 3px;
		button {
			@include mx.save_btn;
		}
	}
}
