.form {
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 600px;
	width: 100%;
	.input {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		font-size: 20px;
		font-weight: 700;
		padding: 5px 10px;
		height: 40px;
		width: 100%;
		border-radius: 10px;
		background-color: transparent;
		border-left: 1px solid rgba(255, 255, 255, 0.9);
		border-bottom: 1px solid rgba(255, 255, 255, 0.9);
		color: #fff;
		&::placeholder {
			font-weight: 400;
		}
	}

	.label_input {
		font-size: 24px;
	}
	.submit {
		width: 30px;
		height: 30px;
		border-radius: 10px;
		background-color: transparent;
		background-image: url(/src/shared/assets/imgs/search_icon.svg);
		background-size: cover;
		background-repeat: no-repeat;
		color: transparent;
		transition: 0.2s all ease;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
		}
	}
}
