.container {
	padding: 30px 0 0;
	width: 100%;
	height: calc(100% - 30px);
	button {
		position: absolute;
		top: 20px;
		left: 50%;
		background-color: red;
		&:nth-child(2) {
			position: absolute;
			top: 50px;
			left: 50%;
			background-color: green;
		}
	}
	.title {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		font-style: italic;
	}
	.new_releases {
		position: relative;
		margin-top: 15px;
		min-height: 80vh;
	}
}
