.container {
	width: 100%;
	height: 100%;

	.content__container {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	p {
		font-size: 22px;
	}

	svg {
		width: 200px;
		height: auto;
	}
}
